@import "~antd/dist/antd.css";

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
}

@media (max-width: 978px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
